{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block headextra %}
    {{ pagedown.include_pagedown() }}
{% endblock %}

{% block app_content %}
    <h1>{{ _('Write a blog post') }}</h1>
    {% if form %}

    <!--
    {{ wtf.quick_form(form) }}
    <br>
    -->

    <form action method="post" class="form" role="form">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}
        {{ wtf.form_field(form.title) }}
        {{ wtf.form_field(form.slug) }}
        {{ wtf.form_field(form.content)  }}
        {{ wtf.form_field(form.published) }}
        {{ wtf.form_field(form.submit) }}
        {{ wtf.form_field(form.preview) }}
    </form>


    {% endif %}

    {% if preview %}
    {% include '_preview_blog_post.html' %}
    {% endif %}
{% endblock %}